@charset "utf-8";
*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
html, body{
  font-family: 'Noto Sans KR', sans-serif;
}
body, html{cursor: url(../img/cursor2.png), auto}
a {cursor: url(../img/cursor2.png), auto}

/* 로딩 페이지 */
#loadingImage {
  position: absolute;
  width: 100px;
  height: 100px;
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
  margin:auto; 
  animation: loading 2s ease-in-out infinite normal;
}
@keyframes loading {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.box {
  position:absolute;
  width:40px; 
  height:40px; 
  background:#fff; 
  border-radius:50%; 
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
  margin:auto;
  background:#FF9700;
  opacity:0.5;
}
.box1 {
  animation:loading2 2s ease-in-out infinite;
}
@keyframes loading2 {
  0% {top:0; left:0;}
  50% {top:100px; left:0; width:20px; height:20px;}
  100% {top:0; left:0;}
}
.box2 {
  animation:loading3 2s ease-in-out infinite;
}
@keyframes loading3 {
  0% {top:0; left:0;}
  50% {top:-100px; left:0;  width:20px; height:20px;}
  100% {top:0; left:0;}
}


/* header */
.header_wrap{
  width: 100%; 
}
.header{ 
  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  background: #fff;
  z-index: 100;
}
.mymenu {
  display: flex;
  justify-content: center;
  text-align: center;
}
.mymenu > li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
} 
#horizontal-underline {
  position: absolute;
  width: 0;
  background: #0034ad;
  top: 0;
  left: 0;
  height: 3px; 
  transition: all 0.3s;
}

/* intro 페이지 */
.intro_pg{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}
.intro_wrap{
  left: 17%; 
  width: 65%;
  position: absolute;
  top: 12%;
  margin-bottom: 50px;
} 
.intro_wrap img{ 
  width: 100%;
  animation: opacity 2s 0.5s linear both;
} 
.intro_txt span{
  color: #0034ad;
  font-family: 'Noto Serif Hebrew', serif;
}
.intro_txt p{ 
  font-family: 'Noto Serif Hebrew', serif;
  font-size: 4.5em; 
  position: absolute;
  left: -15%;
  top: 10px;
  z-index: 100;
  line-height: 100%;
  animation: opacity 2s 0.3s linear both;
}
.intro_txt strong{ 
  font-family: 'Noto Serif Hebrew', serif;
  font-size: 4.7em; 
  position: absolute;
  left: 80%;
  bottom: 3%;
  z-index: 1000;
  animation: opacity 2s 0.9s linear both;
}
@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* scroll_down */
.scroll_down{
  z-index: 20;
  position: absolute;
  width: 42px;
  height: 64px;
  left : 50%;
  transform: translate(-50%, -50%);
  bottom: -27%;
  border: 2px solid #000;
  border-radius: 50px;
}
.scroll_down::after{
  content: "";
  position: absolute;
  top: 20%;
  left: 35%;
  border-right: 3px solid #000;
  width: 5px;
  height: 15px; 
  animation: Move 1s infinite;
}
@keyframes Move{
  0%{
    opacity: 0;
  }
  30%{
    opacity : 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 70%
  }
}
/* qr */
.qr{ 
  width: 100%;
  position: fixed; 
  bottom: 1.5%;
  z-index: 100;
  left: 5%;
}
.qr img{
  width: 7.5em;
  height: 7.5em;
} 
.btn_tooltip{ 
  position: absolute; 
  top: 82%;
  white-space: nowrap;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  margin-left: 130px;
  background-color: #4c4c4c;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
}
.btn_tooltip:before {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid #4c4c4c; 
  transform: translateX(-98%);
}
.btn_tooltip p{
  color: #fff;
  font-weight: 100;
}

.main{
  padding: 30px 0;
}
/* profile 페이지 */
.profile_pg{
  width: 100%; 
  height: 1050px; 
} 
.profile{
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.avatar{
  width: 45%;
  margin-right: 20px;
  max-width: 470px;
}
.avatar img{
  width: 100%; 
}
.about{
  width: 45%;
}
.about_title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.about_text p{
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.resume{
  width: 200px;
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 5rem;
  font-weight: bold;
  padding: 0 1rem;
  border: 1px solid #a0a0a0; 
  background-color: #fff;
  margin-top: 2rem;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* favivoite */
.favivoite{
  position: relative;
  height: 260px; 
  font-size: 0;
  overflow: hidden; 
}
.keywords_wrap{
  white-space: nowrap;
  flex-direction: column; 
} 
.keywords{
  position: absolute;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
} 
.keywords img{
  width: 90px;
  margin-right: 15px;
}
.keywords p{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 500;
  margin-right: 3rem;
  margin-bottom: 1.3rem;
}
.keywords:nth-child(1) {
  animation: moveLeft 20s linear infinite;
  top: 0;
}
.keywords:nth-child(2) {
  animation: moveLeft 22s linear infinite;
  top: 7.5rem;
}
 
@keyframes moveLeft {
  from{transform:translateX(0%);}
  to{transform:translateX(-100%);}
}


/* web 페이지 */
.web_pg{
  width: 100%;
  margin-top: 50px;
  height: 1000px; 
}
.web_wrap{
  margin: 0 auto;
}
.por_title{
  color: #000;
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
}
.project{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.project_img{
  width: 45%;
}
.project_img img{
  width: 100%;
  background-size: cover;
  background-position: center top;
}
.project_contens{
  width: 45%;
  padding-left: 20px;
}
.project_contens dl{
  display: flex;
  flex-flow: row wrap;
}
.project_contens dl dt{
  width: 30%;
  padding: 10px 0;
  font-weight: 700;
  color: #000;
}
.project_contens dl dd{
  width: 70%;
  padding: 10px 0;
  line-height: 1.5
}
.link{
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0 50px 0;
}
.link a{
  background: #002882; 
  color: #fff;
  border-radius: 7px; 
  margin-right: 20px;
  padding: 10px 12px;
}


/* 클론코딩 페이지 */
.clone_pg{
  width: 100%;
  height: 950px; 
  margin-top: 50px;
  position: relative;
  text-align: center; 
}
.clone_project{
  width: 70%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.clone_project_list{
  width: 49%;
  margin-bottom: 9vh;
  background-color: #fff;
  box-shadow: 5px 5px 14px rgba(55, 55, 55, 0.1);
  transition: 0.3s;
  overflow: hidden;
}
.clone_project_list a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.clone_project_list-img{
  transition: 0.3s;
}
.clone_project_list-img img{ 
  max-width: 100%;
  vertical-align: top;
}
.clone_project_list-hover{
  position: absolute;
  top: 0;
  left: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.25s;
}
.clone_project_list-hover h4{ 
  font-weight: bold;
  margin-bottom: 1rem;
}
.clone_project_list-hover p{
  font-size: 0.8em;
}
.clone_project_list-hover:hover{
  opacity: 1;
}
.clone_project_list:nth-child(2n) { 
  transform: translateY(7rem);
} 



/* 디자인 페이지 */
.design_pg{
  width: 100%;
  height: 1600px;
  margin-top: 100px;
}
.design_wrap{
  width: 70%;
  margin: 0 auto;
}
.design{
  margin-bottom: 50px;
}
.design_title{
  font-size: 20px;
  margin-bottom: 10px;
}
.detail{
  display: flex; 
  justify-content: space-around;
  overflow: hidden; 
  height: 500px;
  margin-bottom: 30px;
}
.detail img{
  width: 100%; 
  opacity: 1; /* 초기에는 투명도 1로 설정 */
  transition: opacity 50s ease-in-out; /* 투명도 변화에 대한 트랜지션 설정 */
} 
.design .detail img:hover {
  opacity: 0; /* 마우스 오버 시 투명도 0으로 설정하여 사라지도록 함 */
  animation: detailscroll 50s linear forwards; /* @keyframes 애니메이션 적용 */
}
@keyframes detailscroll{
  from {
    transform: translateY(0%);
  } 
  to {
    transform: translateY(-100%);
  }
}
.snscard{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  margin-bottom: 70px;
}
.snscard>a{
  width: 30%;
}
.snscard_wrap .snscard img{ 
  width: 100%;
  transform:scale(1.0);
  transition: transform 0.5s;
}
.snscard img:hover{
  transform:scale(1.1);
  transition: transform 0.5s; 	
}


/* 포터영역 */
.footer_pg{
  width: 100%;
  background-color: #3c4046;
  padding: 50px 0 40px 0;
}
.footer{
  text-align: center;
  color: #fff;
}
.footer h1{
  margin-bottom: 40px; 
}


.scroll_top{
  position: fixed;
  display: block;
  bottom:35px;
  right:100px;
  z-index: 9999;
}

.scroll_top img{
  width: 50px;
  height: 50px;
}

 
/* 미디어쿼리 */
@media all and (max-width: 480px) {
  /* 모바일2 사이즈 */
  .mymenu > li{
    font-size: 1em;
  }
  .intro_pg{
    height: 400px;
  }
  .intro_wrap{
    left: 15%; 
  }
  .intro{
    top: 200px;
  }
  .intro_txt strong{ 
    bottom: 0%;
    font-size: 1.8em;
    left: 67%;
  }
  .intro_txt p{ 
    font-size: 1.8em;
  }
  .scroll_down{ 
    bottom: 25%;
    width: 30px;
    height: 45px;
    bottom: -90%;
  }
  .qr img{
    width: 3.5em;
    height: 3.5em;
  }
  .btn_tooltip{
    padding: 0.65rem 0.8rem; 
    margin-left: 80px; 
  }
  .btn_tooltip{
    font-size: 10px;
    top: 80%;
  }
  
  .por_title{
    font-size: 25px;
  }
  .profile_pg{
    height: 550px;
  } 
  .profile{
    width: 95%; 
  }
  .avatar{
    width: 90%;
  }
  .about{
    width: 100%;
  }
  .about_title{
    font-size: 1.1em; 
    margin-bottom: 0.9rem;
  }
  .about_text p{
    font-size: 0.7em; 
    margin-bottom: 0.5rem;
  }
  .resume{
    width: 120px; 
    font-size: 0.9rem;
    line-height: 3rem;
    left: 32%;
  }
  .favivoite{
    height: 14rem;
    margin-bottom: 10vh;
  }
  .keywords img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  .keywords p{ 
    font-size: 1.5rem; 
  } 
  .keywords:nth-child(2) { 
    top: 3.5rem;
  }
  
  .web_pg{
    height: 1100px;
  }
  .project{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  } 
  .project_img{
    width: 100%;
  }
  .project_img img{
    width: 100%;
  }
  .project_contens{
    width: 100%;
    padding-left: 20px;
  }
  .project_contens dl dt{ 
    padding: 5px 0;
    font-size: 0.85rem;
  }
  .project_contens dl dd{
    padding: 5px 0; 
    font-size: 0.85rem;
  }
  .link{
    margin: 20px 0 30px 0;
  }
  .link a{ 
    font-size: 14px;
    padding: 8px 10px;
  }

  .clone_pg{
    height: 1050px;
  }
  .clone_project{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .clone_project_list{
    width: 100%;
  }
  .clone_project_list:nth-child(2n) { 
    transform: translateY(0);
  } 
  
  .design_pg{
    height: 3200px;
  }
  .design_wrap{
    width: 90%;
  }
  .snscard>a{
    width: 99%;
  }

  .footer_pg{
    padding: 20px 0 20px 0;
  }
  .footer h1{
    font-size: 20PX;
    margin-bottom: 15px;
  }
  .footer p{
    font-size: 0.7em;
  }
}

@media all and (min-width: 481px) and (max-width: 767px){
  /* 모바일1 사이즈 */ 
  .intro_pg{
    height: 550px;
  }
  .intro{
    top: 150px;
  }
  .intro_txt strong{ 
    bottom: 0%;
    font-size: 3em;
    left: 68%;
  }
  .intro_txt p{ 
    font-size: 3.2em;
  }
  .scroll_down{ 
    bottom: -70%; 
  }
  .qr img{
    width: 4.5em;
    height: 4.5em;
  }
  .btn_tooltip{
    padding: 0.85rem 1rem; 
    margin-left: 100px; 
  }
  .btn_tooltip{
    font-size: 12px;
    top: 80%;
  }
  
  .por_title{
    font-size: 25px;
  }
  .profile_pg{
    height: 700px;
  } 
  .profile{
    width: 95%; 
  }
  .avatar{
    width: 85%;
  }
  .about{
    width: 100%;
  }
  .about_title{
    font-size: 1.5em; 
    margin-bottom: 1.3rem;
  }
  .about_text p{
    font-size: 0.9em; 
    margin-bottom: 0.7rem;
  }
  .resume{ 
    width: 100px; 
    font-size: 0.9rem;
    line-height: 3rem;
    left: 40%;
  }
  .favivoite{
    height: 14rem;
    margin-bottom: 3vh;
  }
  .keywords img{
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }
  .keywords p{ 
    font-size: 2rem; 
  } 
  .keywords:nth-child(2) { 
    top: 5rem;
  }
  
  .web_pg{
    height: 1600px;
  }
  .project{
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
  } 
  .project{
    width: 90%;
  }
  .project_img{
    width: 100%;
  }
  .project_img img{
    width: 100%;
  }
  .project_contens{
    width: 90%;
    padding-left: 20px;
  }
  .project_contens dl dt{ 
    padding: 10px 0;
    font-size: 1rem;
  }
  .project_contens dl dd{
    padding: 10px 0; 
    font-size: 1rem;
  }
  .link{
    margin: 20px 30px 30px 30px;
    justify-content: space-around;
  }
  .link a{ 
    font-size: 1em;
    padding: 10px 13px;
  }

  .clone_pg{
    height: 1300px;
  }
  .clone_project{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .clone_project_list{
    width: 100%;
  }
  .clone_project_list:nth-child(2n) { 
    transform: translateY(0);
  } 
  
  .design_pg{
    height: 1730px;
  }
  .design_wrap{
    width: 90%;
  }
  .snscard>a{
    width: 49%;
  }

  .footer_pg{
    padding: 20px 0 25px 0;
  }
  .footer h1{
    font-size: 25PX;
    margin-bottom: 20px;
  }
  .footer p{
    font-size: 0.7em;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  /* 태블릿 사이즈 */
  .intro_txt strong{ 
    bottom: 0%;
    font-size: 3.7em;
    left: 68%;
  }
  .intro_txt p{ 
    font-size: 3.5em;
  }
  .scroll_down{ 
    bottom: -40%; 
  }
  .qr img{
    width: 6em;
    height: 6em;
  }
  .btn_tooltip{
    padding: 1rem 1.3rem; 
    margin-left: 110px; 
  }
  .btn_tooltip{
    font-size: 12px;
    top: 80%;
  }

  .profile_pg{
    height: 750px;
  } 
  .profile{
    width: 80%; 
  }
  .avatar{
    width: 70%;
  }
  .about{
    width: 100%;
  }
  .about_title{
    font-size: 1.7em; 
    margin-bottom: 2rem;
  }
  .about_text p{
    font-size: 1em; 
    margin-bottom: 1rem;
  }
  .resume{
    width: 150px; 
    font-size: 1rem;
    line-height: 3.5rem;
    left: 43%;
  }
  .favivoite{
    height: 14rem;
    margin-bottom: 10vh;
  }
  .keywords img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  .keywords p{ 
    font-size: 3rem; 
  } 
  .keywords:nth-child(2) { 
    top: 6rem;
  }
  
  .web_pg{
    height: 750px;
  }
  .project{
    width: 90%;
  }
  .project img{
    width: 100%;
  }
  .clone_pg{
    height: 600px;
  }
  .clone_project{
    width: 90%;
  }
  .clone_project_list:nth-child(2n) { 
    transform: translateY(0);
  } 
  
  .design_pg{
    height: 1300px;
  }
  .design_wrap{
    width: 90%;
  }

  .footer_pg{
    padding: 30px 0 20px 0;
  }
  .footer h1{
    font-size: 27PX;
  }
  .footer p{
    font-size: 0.8em;
  }
}

@media all and (min-width: 1024px) {
  /* pc 사이즈 */
  
}