@charset "utf-8";

html, body{font-family: 'Noto Sans', sans-serif;}


/* header */ 
.header{
  width: 100%;
  position: fixed;
  top:0;
}
.top{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:50px;
  font-size: 1.3rem;
  color:#fff;
}
.menu{
  display: flex;
  float: left;
}
.menu > a{
  display: inline-block;
  width: 100px;
}
.mobile_menu{
  display:none;
  cursor: pointer;
}
.mobile_bg{
  display: none;
}
.gnb_nav{
  display: none;
}


/* main_visual */
.contents{
  width:1280px;
  margin: 0 auto;
}
.mv_wrap{
  height: 100vh;
  background:url(./images/bgimg.png) no-repeat;
  background-size: cover; 
  margin-bottom: 150px;
}
.title{ 
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 5rem; 
  position: absolute; 
  bottom: 50%;
  left: calc(50% - 430px);
}

/* scroll_down */
.scroll_icon{
  z-index: 10;
  position: absolute;
  width: 42px;
  height: 64px;
  left : 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  border: 2px solid #fff;
  border-radius: 50px;
}
.scroll_icon::after{
  content: "";
  position: absolute;
  top: 20%;
  left: 35%;
  border-right: 3px solid #fff;
  width: 5px;
  height: 15px; 
  animation: Move 1s infinite;
}
@keyframes Move{
  0%{
    opacity: 0;
  }
  30%{
    opacity : 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 70%
  }
}



/* about */ 
.about{
    display: flex;
}
.con_title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.about{
    display: flex;
    justify-content: space-around;
}
.profile{
    width: 45%;
}
.profile img{
    width:100%;
}
.about_txt {
    width: 45%;
}
.about_txt h4{
    font-size: 2.2rem;
    line-height: 50px;
    margin: 0;
}
.about_txt p{
    font-size: 1.5rem;
    margin-top: 10%;
    line-height: 40px;
}

/* favivoite */
.favivoite{ 
    overflow: hidden;
    margin: 70px 0;
}
.keywords{
    height: 100px;
    display: flex;
}
.keywords img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.keywords p{
    font-size: 2rem;
    margin-right: 5%;
    white-space: nowrap;
}
.keywords:nth-child(1) {
    animation: moveLeft 20s linear infinite;
    top: 0;
}

  .keywords:nth-child(2) {
    animation: moveLeft 22s linear infinite; 
  }
  @keyframes moveLeft {
    from{transform:translateX(0%);}
    to{transform:translateX(-100%);}
  }
  @keyframes moveLeft {
    from{transform:translateX(0%);}
    to{transform:translateX(-100%);}
  }
  
  
.resume{
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: pink;
  margin-bottom: 150px;
  padding: 20px;
  border-radius: 30px;
}


/* web */ 
.webpj_warp {
  margin-bottom: 150px;
}
.web_btns{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}
.web_btns > li{
  background: pink;
  border-radius: 50px;
  padding: 15px 25px;
  margin: 0 10px;
}
.project{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}
.project2{
  display: none;
}

.web{
  width:45%; 
  height: 380px; 
  background: #ddd;
  margin-bottom: 30px;;
}
.notice{
  width:45%; 
  height: 380px; 
  padding: 50px;
  box-sizing: border-box;
  background: #ddd;
}
.notice h3{
  font-size: 30px;
  line-height: 60px;;
}
.notice dl{
  display: flex;
  line-height: 50px;
}
.notice dt{
  margin-right: 30px;;
}
.webpj_wrap{
    margin-bottom: 150px;
}



/* design */
.design_warp{
    margin-bottom:150px;
    text-align: center;
}
.banner_design{
  margin-bottom: 100px;
}
.designpj h3{
  font-size:25px;
}
.designpj h4{
  font-size:16px;
  margin-top:10px;
  margin-bottom: 50px;
}
.swiper1 , .swiper2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-pagination-fraction {
  margin-top: 15px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_design .swiper-slide img {
  width: 100%; 
}
.swiper-slide img {
  display: block;
  width: 300px; 
  object-fit: cover;
}
.swiper-button-next , .swiper-button-prev{
  width: 30px;
  height: 30px;;
}


/* footer */
.footer_wrap{ 
    background-color: #ddd;
    padding: 20px 0;
}
.footer{
  text-align: center;
}
.footer h3{
    font-size: 25px;
    padding: 20px;
}
.footer {
  font-size: 16px;
}


/* index1 */
.index1_header{
  width: 100%;
  height: 800px; 
  background-image: url(/images/redesign1.png);
  background-repeat: no-repeat; 
  background-size: cover; /* 요소를 비율에 맞게 커버 */
  background-position: center; /* 이미지를 요소의 정가운데로 처리 */
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
} 
.proposal{
  padding-top: 100px;
}
.proposal h1{
  font-size: 2rem;
  font-weight: 600;
}
.notice_info{
  display: flex;
  justify-content: space-between;
  padding:50px 0 150px 0;
  font-size: 1.1rem;
}
.notice_tit > li > hr{
  margin: 10px 0;
}
.proposal p {
  font-size: 15px;
  color: #444;
  line-height: 2.2;
  font-weight: 500;
  padding-bottom: 150px;
}
.view_btn_site {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: pink;
  padding: 20px;
} 





/* 미디어쿼리 */
@media screen and (max-width:1000px){

}


@media screen and (max-width:767px){
  
.menu{
  display: none;
}
.mobile_menu{
  display:block;
}
.mobile_bg {
  visibility: visible;
  background: rgba(0,0,0,.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  transition-duration: 2s; 
}
.mobile_nav {
  width: 18rem;
  background: #fff;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  overflow-y: auto;
  z-index: 100;
}
.nav_flex {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem; 
  padding: 1rem 0.5rem;
  color:#000;
  line-height: 150%;
}
.gnb_nav{
  display: block;
  line-height: 200%;
}
.gnb_nav > li > a{
  display: block;
  line-height: 200%;
}


}